<h1>Update <%= @employee.name() %> </h1>

<form action="/employees/<%= @employee.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Rename this employee:</label>
  <input id="name" name="name" type="text">


  <label for="division_id">Change their division:</label>
  <select id='division_id' name='division_id' type='text'>
    <% @divisions.each() do |division| %>
    <option value="<%= division.id()%>"> <%= division.name() %> </option>
    <% end %>
  </select>

  <label for="project_ids">Assign to a Project:</label>
  <% @projects.each() do |project| %>
    <input type="checkbox" name = "project_ids[]" value="<%= project.id()%>"> <%= project.name() %>
    <% end %>

  <button type="submit">Update</button>
</form>

<form action="/employees/<%= @employee.id() %>/remove" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="project_ids">Remove employee from a Project:</label>
  <% @projects.each() do |project| %>
    <input type="checkbox" name = "project_ids[]" value="<%= project.id()%>"> <%= project.name() %>
    <% end %>

  <button type="submit">Remove</button>
</form>





<form action="/employees/<%= @employee.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete employee</button>
</form>
