<h1>Employee Tracker</h1>

<%if @employees.any?() %>
<h2>Here are all your employees- click on an employee to see more information:</h2>
<ul>
  <% @employees.each() do |employee| %>
    <li><a href="/employees/<%= employee.id() %>"><%= employee.name() %></a></li>
  <% end %>
</ul>
<% else %>
<h2>You have no employees yet</h2>
<% end %>

<% if @divisions.any?() %>
<h2>Here are your divisions- click on a division to see its employees:</h2>
<ul>
  <% @divisions.each do |division| %>
  <li><a href="/divisions/<%= division.id() %>"><%= division.name() %></a></li>
  <% end %>
</ul>
<% else %>
<h2>You have no divisions yet</h2>
<% end %>

<% if @projects.any?() %>
<h2>Here are your projects- click on a project to see who's working on it:</h2>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id() %>"><%= project.name() %></a></li>
  <% end %>
</ul>
<% else %>
<h2>You have no projects yet</h2>
<% end %>

<h2> Add a new employee:</h2>

<form action="/employees" method="post">
  <label for="name">Employee's Name:</label>
  <input id="name" name="name" type="text">

  <label for="division_id">Select a Division:</label>
  <select id='division_id' name='division_id' type='text'>
  <% @divisions.each() do |division| %>
    <option value="<%= division.id()%>"> <%= division.name() %> </option>
  <% end %>
  </select>

  <label for="project_id">Select a Project:</label>
  <select id='project_id' name='project_id' type='text'>
  <% @projects.each() do |project| %>
    <option value="<%= project.id()%>"> <%= project.name() %> </option>
  <% end %>
  </select>

  <button type="submit">Add employee</button>
</form>

<h2>Create a new division:</h2>

<form action="/divisions" method="post">
  <label for="name">What's the name of the division?</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add division</button>
</form>

<h2>Create a new project:</h2>

<form action="/projects" method="post">
  <label for="name">What's the name of the project?</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add project</button>
</form>
